@page
@model IsmailHilmiAdiguzelProje.Pages.AssociationLoginModel
@{
    ViewData["Title"] = "Dernek giriş";
}

<div class="form-container">
    <h1>Dernek giriş</h1>
    <form asp-page-handler="submitForm" method="post">
        <input type="email" class="input" name="email" placeholder="Enter email">
        <input type="password" class="input" name="password" placeholder="Enter password">
        <button type="submit" class="subscribe-btn">Subscribe</button>
    </form>
</div>