@page
@model IsmailHilmiAdiguzelProje.Pages.LoginModel
@{
    Layout = "_FormLayout";
    ViewData["Title"] = "Kullanıcı giriş";
}

<div class="form-container">
    <h1>Kullanıcı giriş</h1>
    <form asp-page-handler="loginUser" method="post">
        <span asp-validation-for="Email"></span>
        <input type="email" class="input" asp-for="Email" placeholder="Enter email">
        <span asp-validation-for="Password"></span>
        <input type="password" class="input" asp-for="Password" placeholder="Enter password">
        <button type="submit" class="subscribe-btn">Subscribe</button>
    </form>
</div>
