@page
@model IsmailHilmiAdiguzelProje.Pages.LoginModel
@{
    Layout = "_FormLayout";
}

<div class="form-container">
    <h1>Subscribe</h1>
    <p>Enter your email address to subscribe to our newsletter.</p>
    <form asp-page-handler="loginUser" method="post">
        <input type="email" class="input" name="email" placeholder="Enter email">
        <input type="password" class="input" name="password" placeholder="Enter password">
        <button type="submit" class="subscribe-btn">Subscribe</button>
    </form>
</div>
